@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #161d22;
    --cor-secundaria: #f6f6f648;
    --cor-font: #f6f6f6;
    --font-page: 'Josefin Sans', sans-serif;
}
#margin_banner{
    margin: 0% 10%;
}
#margin_main{
    margin: 0% 10%;
}
body{
    background-color: var(--cor-primaria);
}
h1, h2, h3, h4, p{
    font-family: var(--font-page);
    color: var(--cor-font);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#cabecalho, #banner{
    background-color: var(--cor-primaria);
}
.container_cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
.logo_cabecalho{
    width: 120px;
}
.lista_menu{
    display: flex;
    list-style: none;
    gap: 40px;
}
.link_menu{
    text-decoration: none;
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 1.3rem;
}
#banner{
    background-image: linear-gradient(88deg, var(--cor-primaria), transparent) ,url(../image/capas/background/banner.jpg);
    background-color: var(--cor-primaria);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container_banner{
    padding: 2% 0%;
}
.conjunto_banner{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 49%;  
    grid-template-rows: 350px 350px; 
    grid-gap: 10px;
}
.bloco1{
    grid-row: 1 / 3;
}
.bloco1,.bloco2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.613); 
    border-bottom: 4px solid #161d22; 
}
.bloco1 img, .bloco2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;   
}     
.bloco1:hover img,.bloco2:hover img {
    transform: scale(1.1);  
}
.conjunto_banner .gradiente {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, var(--cor-primaria) 30%, transparent 50%);
    z-index: 1;
}
.conjunto_conteudo_banner{
    z-index: 1;
}
.titulo_banner-1, .titulo_banner-2{
    text-shadow: 0px 0px 10px black;
    text-transform: uppercase;
    padding: 0px 20px;
}
.titulo_banner-1{
    font-size: 3rem;
}
.titulo_banner-2{
    font-size: 2.3rem;
}
.texto_banner-1{
    padding: 10px 20px 40px 20px;
    font-size: 1.6rem;
    line-height: 28px;
}
.texto_banner-2{
    padding: 5px 20px 20px 20px;
    font-size: 1.6rem;
    line-height: 25px;
}
#playlist{
    padding: 100px 0px;
}
.container_info_conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px; 
    padding-top: 0px;
}
.bar_conteudo{
    width: 25%;
    padding: 2px 4px;
    background-color: var(--cor-secundaria);
}
.titulo_info_conteudo{
    font-size: 2rem;
}
.subtitulo_info_conteudo{
    color: var(--cor-secundaria);
}
.conjunto_playlist{
    display: grid;
    justify-content: center;
    grid-template-columns: 27% 27% 27%;  
    grid-template-rows: 210px 210px; 
    grid-gap: 40px;
    padding: 80px 0px;  
}
.anuncio{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.613); 
    border-bottom: 4px solid #161d22; 
}
.anuncio img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;   
}     
.anuncio:hover img{
    transform: scale(1.1);  
}
.anuncio .gradiente {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, var(--cor-primaria) 30%, transparent 60%);
    z-index: 1;
}
.conjunto_conteudo_anuncio{
    padding: 0px 0px 10px 15px ;
    z-index: 1;
}
.titulo_anuncio{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 6px;
    
}
.texto_anuncio{
    font-size: 1.1rem;
    line-height: 22px;
}
.link_playlist{
    padding-top: 20px;
    text-align: center;
    
}
.link_playlist a{
    font-family: var(--font-page);
    font-size: 1.3rem;
    color: var(--cor-font);
    padding: 15px 40px;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--cor-secundaria);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.613); 
}
.banner_parceria{
    background-image: linear-gradient(88deg, var(--cor-primaria), transparent) ,url(../image/capas/background/pather.jpg);
    background-color: var(--cor-primaria);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}
.parceria{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px 0px;
}
.parceria img{
    width: 200px;
}
#sobre{
    padding: 100px 0px;
}
.container_sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
}
.conjunto_sobre{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    width: 60%;
}
.texto_sobre{
    font-size: 1.5rem;
    line-height: 25px;
}
.social_link{
    font-family: var(--font-page);
    font-size: 1.2rem;
    color: var(--cor-font);
    text-align: center;
    background-color: var(--cor-secundaria);
    padding: 15px 20px;
    border-radius: 4px;
}
.face:hover{
    background-color: #165b8c;
}
.insta:hover{
    background-image: linear-gradient(33deg, #3f729b, #8134AF, #DD2A7B, #FEDA77, #F58529);
}
.you:hover{
    background-color: #c4302b;
}
.conjunto_social{
    display: flex;
    gap: 20px;
}
#rodape{
    background-image: linear-gradient(360deg, var(--cor-primaria) 1%, transparent 100%) ,url(../image/capas/background/footer.jpg);
    background-color: var(--cor-primaria);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container_rodape{
    padding-top: 40px;
    padding-bottom: 40px;
}
.conjunto_direitos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.direitos p{
    font-size: 0.9rem;
    text-align: start;
}
@media screen and (max-width: 1440px) {
    #margin_banner{
        margin: 0% 3%;
    } 
    .conjunto_playlist{
        grid-template-columns: 45% 45%;  
        grid-template-rows: 300px 300px 300px;
    }
    .conjunto_conteudo_anuncio{
        padding: 0px 0px 25px 15px ;
    }
    .titulo_anuncio{
        font-size: 2.5rem;
        padding-bottom: 15px;
    }
    .texto_anuncio{
        font-size: 1.7rem;
    }
    .conjunto_sobre{
        text-align: center;
        width: 85%;
        padding: 40px 0px;
    }

}
@media screen and (max-width: 1000px) {
    .container_banner{
        padding: 6% 0%;
    }
    .conjunto_banner{
        justify-content: center;
        grid-template-columns: 100%;
        grid-template-rows: 300px  300px 500px 500px;
    }
    .conjunto_conteudo_banner{
        margin: 0px;
        padding: 0px 20px 20px 20px;
    }
    .titulo_banner-1, .titulo_banner-2{
        font-size: 3.5rem;
        padding: 0px 8px;
        text-shadow: 0px 0px 10px black;
    }
    .texto_banner-1,.texto_banner-2{
        font-size: 2rem;
        padding: 10px 8px;
        line-height: 35px;
    }
    .bloco1 .gradiente {
        background-image: linear-gradient(360deg, var(--cor-primaria) 35%, transparent 80%);
    }
    .bloco2 .gradiente {
        background-image: linear-gradient(360deg, var(--cor-primaria) 35%, transparent 80%);
    }
    .conjunto_playlist{
        grid-template-columns: 80%;  
        grid-template-rows: 400px 400px 400px;
    }
    .celular{
        display: none;
    }
    .bar_playlist{
        width: 50%;
    }
    .conjunto_conteudo_anuncio{
        padding: 0px 0px 30px 20px ;
    }
    .titulo_anuncio{
        font-size: 2.7rem;
        padding-bottom: 10px;
    }
    .texto_anuncio{
        font-size: 1.9rem;
        line-height: 35px;
    }

}
@media screen and (max-width: 700px) {
    .menu{
        display: none;
    }
    .container_cabecalho{
        justify-content: center;
        padding: 10px 0px;
    }
    .titulo_banner-1, .titulo_banner-2{
        font-size: 3.2rem;
    }
    .texto_banner-1,.texto_banner-2{
        font-size: 1.7rem;
        line-height: 32px;
    }
    .bloco2 .gradiente {
        background-image: linear-gradient(360deg, var(--cor-primaria) 35%, transparent 80%);
    }
    .conjunto_playlist{
        grid-template-columns: 80%;  
        grid-template-rows: 300px 300px 300px;
    }
    .conjunto_conteudo_anuncio{
        padding: 0px 0px 15px 15px ;
    }
    .titulo_anuncio{
        font-size: 2.1rem;
        padding-bottom: 6px;
    }
    .texto_anuncio{
        font-size: 1.6rem;
        line-height: 35px;
    }
}
@media screen and (max-width: 540px) {
    .container_banner{
        padding: 10% 0%;
    }
    .conjunto_banner{
        grid-template-rows: 200px  200px 400px 400px;
    }
    .conjunto_conteudo_banner{
        padding: 0px 5px 5px 5px;
    }
    .titulo_banner-1, .titulo_banner-2{
        font-size: 2.2rem;
    }
    .texto_banner-1,.texto_banner-2{
        font-size: 1.2rem;
        line-height: 22px;
    }
    .titulo_info_conteudo{
        font-size: 2.7rem;
    }
    .subtitulo_info_conteudo{
        font-size: 1.6rem;
    }
    .bar_conteudo{
        width: 80%;
    }
    .conjunto_playlist{
        grid-template-columns: 90%;
        grid-template-rows: 250px  250px 250px;
    }
    .link_playlist a{
        padding: 25px 80px;
        font-size: 1.5rem;
        font-weight: 800;
    }
    .conjunto_social{
        display: flex;
        flex-direction: column;
    }
    .social_link{
        padding: 20px 60px;
    }
    .conjunto_direitos{
        font-size: 1rem;
    }
    .conjunto_conteudo_anuncio{
        padding: 0px 0px 15px 15px ;
    }
    .titulo_anuncio{
        font-size: 1.7rem;
        padding-bottom: 10px;
    }
    .texto_anuncio{
        font-size: 1.2rem;
        line-height: 26px;
    }
    .social_link{
        padding: 25px 80px;
        font-size: 1.5rem;
        font-weight: 800;
    }
}






















































   




