/* Configurações Globais da Paigna */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #1c242b;
    --cor-secundaria: #f6f6f648;
    --cor-font: #f6f6f6;
    --font-page: 'Josefin Sans', sans-serif;
}
#margin_page{
    margin: 0% 15%;
}
#margin_section{
    padding: 5% 0%;
}
h1, h2, h3, h4, p{
    font-family: var(--font-page);
    color: var(--cor-font);
}

/* Configuraçõe do HEADER/Menu */
body{
    background-color: var(--cor-primaria);
}
.cabecalho, .banner{
    background-color: var(--cor-primaria);
}
.container_cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.logo_cabecalho{
    width: 100px;
}
.lista_menu{
    display: flex;
    list-style: none;
    gap: 20px;
}
.link_menu{
    text-decoration: none;
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 1.1rem;
}
/* Configurações da SECTION/BANNER */
.banner{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/472609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 32%;
}
.container_banner{
    display: flex;
    align-items: end;
    height: 70vh; 
    padding-bottom: 20px;
}
.conjunto_banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titulo_banner{
    font-size: 5rem;
    font-weight: 700;
}
.texto_banner{
    font-size: 1.5rem;
    font-weight: 400;
}
.bar_banner{
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    padding: 4px; 
}
/* Configurações da SECTION/INFORMAÇÃO */
.container_conteudo_geral{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 40px 40px;
    border-radius: 16px;
    box-shadow:  0px 6px 0px 4px rgba(0, 0, 0, 0.311);
}
.conjunto_titulo_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 40px;
    text-align: center;
}
.titulo_info{
    font-size: 2.2rem;
}
.subtitulo_info{
    font-size: 1.3rem;
    color: var(--cor-secundaria);
}
.bar_info{
    width: 40%;
    border-radius: 8px;
    padding: 1px; 
    background-color: var(--cor-secundaria);
    
}
.texto_info{
    text-align: center;
    font-size: 1.2rem;
    line-height: 25px;
    padding-bottom: 20px;
}
/* Configurações da SECTION/CONTEUDO */
.conteudo_titulo{
    padding-bottom: 20px;
}
.conjunto_texto_conteudo{
    display: flex;
    align-items: center;
    gap: 30px;
}
.conteudo_imagem{
    border-radius: 8px;
    border-left: 5px solid var(--cor-secundaria);
}
.link_conteudo{
    text-decoration: none;
    font-family: var(--font-page);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--cor-primaria);
    background-color: #f6f6f6d8;
    border-radius: 8px;
    padding: 10px 40px;
}
.botao_link_conteudo{
    margin: 5% 0% 3% 0%;
}
/* Configurações da SECTION/ANUNCIO */
.container_anuncio_geral{
    padding: 40px 0px;
    border-radius: 16px;
    box-shadow: -7px 0 0px 0px rgba(0, 0, 0, 0.311), 7px 0 0px 0px rgba(0, 0, 0, 0.311);
}
.container_anuncio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5% 5%;
}
.anuncio{
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
    margin-bottom: 50px;
}
.titulo_anuncio,.texto_anuncio{
    margin: 5px 10px;
}
.link_anuncio{
    font-family: var(--font-page);
    color: var(--cor-font);
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--cor-primaria);
    border-radius: 0px 0px 8px 8px;
    padding: 10px 0px;
    box-shadow:  0px 4px 0px 0px rgba(0, 0, 0, 0.43);
}
.image1{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/capa1.png);
}
.image2{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/capa2.png);
}
.image3{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/capa3.png);
}
.image4{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/capa4.png);
}
.image5{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/capa5.png);
}
.image6{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/capa6.png);
}
/* Configurações da SECTION/FOOTER */
.footer_banner{
    background-image: linear-gradient(89deg, #1c242b 35%, transparent 85%) ,url(image/Frontier-Camp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}
.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-left: 10%;
    width: 30vw;
}
.footer_logo{
    width: 100%;
}
.footer_titulo{
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}
.footer_container_social{
    display: flex;
    gap: 10px;
}
.footer_social_link{
    width: 30px;
}
.footer_link{
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--cor-primaria);
    padding: 5px 100px;
    border-radius: 4px;
    box-shadow:  0px 4px 0px 0px #f6f6f66e
}
.direitos_autorais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2% 15% 0% 15%;
}
.img_rag{
    width: 200px;
}
.text_footer{
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 0.7rem;
    width: 50%;
    margin: 20px 0px;
    text-align: center;
}







































/* LapTop */
@media screen and (max-width: 1024px) {
    #margin_page{
        margin: 0% 6%;
    }
    .conjunto_texto_conteudo{
        align-items: flex-start;
    }
    .container_banner{
        height: 100vh;
    }
    .banner{
        background-position: 50%;
    }
}
/* Tablet */
@media screen and (max-width: 768px) {
    #margin_page{
        margin: 0% 7%;
    }
    .banner{
        background-position: 40%;
    }
    .conjunto_texto_conteudo{
        flex-direction: column;
    }
    
}
/* Celular */
@media screen and (max-width: 767px) {
    .banner{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/472609.jpg);
    }
    #margin_page{
        margin: 0% 3%;
    }
    .container_conteudo_geral{
        padding: 20px;
    }
    .container_cabecalho{
        justify-content: center;
        padding: 20px 0px;
    }
    .logo_cabecalho{
        display: none;
    }
    .titulo_banner{
        font-size: 2.7rem;
    }
    .banner{
        background-position: 70%;
    }
    .titulo_info{
        font-size: 1.8rem;
    }
    .texto_banner, .subtitulo_info{
        font-size: 1.2rem;
        line-height: 22px;
    }
    .bar_info{
        width: 90%;
    }
    .conteudo_imagem{
        width: 90%;
    }
    .container_banner{
        height: 80vh;
    }
    .link_conteudo{
        padding: 10px 7px;
        font-size: 1rem;
        font-weight: 700;
    }
    .image1{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/capa1.png);
    }
    .image2{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/capa2.png);
    }
    .image3{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/capa3.png);
    }
    .image4{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/capa4.png);
    }
    .image5{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/capa5.png);
    }
    .image6{
        background-image: linear-gradient(360deg, #1c242b 40%, transparent 85%) ,url(image/capa6.png);
    }
    .footer_container{
        gap: 10px;
    }
    .footer_banner{
        background-image: linear-gradient(89deg, #1c242bba 100%, transparent) ,url(image/Frontier-Camp.jpg);
    }
    .img_rag{
        width: 170px;
    }
    .footer_container{
        margin: auto;
        width: auto;
    }
    .text_footer{
        width: 100%;
    }
    .footer_logo{
        width: 70%;
    }
}