/* Configurações Globais da Paigna */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #1c242b;
    --cor-secundaria: #f6f6f648;
    --cor-font: #f6f6f6;
    --font-page: 'Josefin Sans', sans-serif;
}
#margin_page{
    margin: 0% 15%;
}
h1, h2, h3, h4, p{
    font-family: var(--font-page);
    color: var(--cor-font);
}

/* Configuraçõe do HEADER/Menu */
body{
    background-color: #1c242b;
}
.cabecalho, .banner{
    background-color: var(--cor-primaria);
}
.container_cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.logo_cabecalho{
    width: 100px;
}
.lista_menu{
    display: flex;
    list-style: none;
    gap: 20px;
}
.link_menu{
    text-decoration: none;
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 1.1rem;
}


/* Configurações da SECTION/BANNER */
.banner{
    background-image: linear-gradient(360deg, #1c242b 30%, transparent 85%) ,url(image/472609.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 32%;
}
.container_banner{
    display: flex;
    align-items: end;
    height: 90vh; 
    padding-bottom: 20px;
}
.conteudo_banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titulo_banner{
    font-size: 5rem;
    font-weight: 700;
}
.texto_banner{
    font-size: 1.5rem;
    font-weight: 400;
}
.bar_banner{
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    padding: 4px; 
}




































































/* Tablet */
@media screen and (max-width: 768px) {
    #margin_page{
        margin: 0% 7%;
    }
    .banner{
        background-position: 40%;
    }
}
/* Celular */
@media screen and (max-width: 630px) {
    .logo_cabecalho{
        display: none;
    }
    .container_cabecalho{
        justify-content: center;
        padding: 20px 0px;
    }
    #margin_page{
        margin: 0% 3%;
    }
    .titulo_banner{
        font-size: 3.5rem;
    }
    .texto_banner{
        font-size: 1.3rem;
        line-height: 27px;
    }
    .banner{
        background-position: 70%;
    }
}