
/* Configurações Globais da Paigna */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-primaria: #161d22;
    --cor-secundaria: #f6f6f648;
    --cor-font: #f6f6f6;
    --font-page: 'Josefin Sans', sans-serif;
}
#margin_banner{
    margin: 0% 10%;
}
#margin{
    margin: 0% 15%;
}
body{
    background-color: var(--cor-primaria);
}
h1, h2, h3, h4, p{
    font-family: var(--font-page);
    color: var(--cor-font);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--cor-secundaria);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */


/* Configuraçõe do HEADER/Menu OK */

#cabecalho, #banner{
    background-color: var(--cor-primaria);
}
.container_cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}
.logo_cabecalho{
    width: 120px;
}
.lista_menu{
    display: flex;
    list-style: none;
    gap: 40px;
}
.link_menu{
    text-decoration: none;
    font-family: var(--font-page);
    color: var(--cor-font);
    font-size: 1.3rem;
}


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */


/* Configurações do BANNER  */


.banner{
    background-image: linear-gradient(360deg, var(--cor-primaria) 35%, transparent 85%) ,url(../image/capas/background/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.container_banner{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.conteudo_banner{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.titulo_banner{
    font-family: var(--font-page);
    font-size: 4rem; 
    color: var(--cor-font);
    text-transform: uppercase;
}
.texto_banner{
    font-family: var(--font-page);
    font-size: 1.7rem;
    color: var(--cor-font);
    line-height: 30px;
}
.bar_banner{
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    padding: 4px;
    
}


/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

/* Configurações do CONTEUDO  */

/* .conteudo_info{
    margin: 10% 15%; 
    padding-bottom: 1%;
    background-color: #1c242b;
    border-radius: 16px;
    box-shadow:  0px 6px 0px 4px rgba(0, 0, 0, 0.311);
}
.container_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2% 5%;
}
.titulo_info{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #f6f6f6;
    text-align: center;
}
.subtitulo_info{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #f6f6f675;
    text-align: center;
}
.bar_info{
    background-color: #f6f6f66d;
    border-radius: 4px;
    padding: 1px;
    margin: 0% 30%;
}
.texto_info{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    color: #f6f6f6;
    line-height: 25px;
    text-align: center;
}
.container_conteudo{
    margin: 5% 5%;
}
.container_titulo{
    margin-bottom: 2%;
}
.conteudo_titulo{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #f6f6f6;
}
li{
    margin-left: 15px;
}
.container_texto{
    display: flex;
    align-items: center;
    gap: 30px;
}
.conteudo_texto{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: #f6f6f6;
    line-height: 17px;
}
.conteudo_imagem{
    width: 50%;
    box-shadow:  0px 5px 0px 2px rgba(0, 0, 0, 0.43);
    border-radius: 8px;
}
.botao_link_conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 5%;
}
.link_conteudo{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #1c242b;
    background-color: #f6f6f6d8;
    border-radius: 8px;
    padding: 10px 70px;
}
.bar_final{
    background-color: #f6f6f645;
    border-radius: 4px;
    padding: 5px;
    margin: 2% 10%;
} */





















/* Reponsivo Revisado e Concluido */
@media screen and (max-width: 1440px) {
    #margin{
        margin: 0% 10%; 
    }
    .titulo_banner{
        font-size: 3.5rem; 
    }
    .texto_banner{
        font-size: 1.5rem;
        line-height: 27px;
    }

}
@media screen and (max-width: 1000px) {

  

}

















@media screen and (max-width: 500px) {
    #margin{
        margin: 0% 5%; 
    }
    .menu{
        display: none;
    }
    .container_cabecalho{
        justify-content: center;
        padding: 10px 0px;
    }
    .banner{
        background-image: linear-gradient(360deg, var(--cor-primaria) 35%, transparent 70%) ,url(../image/capas/background/banner.png);
        background-position-y: -100px;
    }
    .container_banner{
        height: 100vh;
    }
    .titulo_banner{
        font-size: 3.5rem; 
    }
    .texto_banner{
        font-size: 1.7rem;
        line-height: 33px;
    }

}
@media screen and (max-width: 470px) {
    .banner{
        background-image: linear-gradient(360deg, var(--cor-primaria) 40%, transparent 70%) ,url(../image/capas/background/banner.png);
        background-position-y: -100px;
    }
    .container_banner{
        height: 100vh;
    }
    .titulo_banner{
        font-size: 2.9rem; 
    }
    .texto_banner{
        font-size: 1.4rem;
        line-height: 27px;
    }
}
@media screen and (max-width: 335px) {
    .banner{
        background-image: linear-gradient(360deg, var(--cor-primaria) 40%, transparent 70%) ,url(../image/capas/background/banner.png);
    }
    .container_banner{
        height: 100vh;
    }
    .titulo_banner{
        font-size: 2.7rem; 
    }
    .texto_banner{
        font-size: 1.2rem;
        line-height: 25px;
    }
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------- */




























